$mobile-sm: 320px;
$mobile: 360px;
$landscape-sm: 768px;
$landscape-lg: 1000px;
$desktop: 1200px;
$desktop-hd: 1920px;

body {
	font-family: 'ProximaNova', sans-serif;
}

a {
	text-decoration: none;
	transition: all 0.3s linear;
}

header,
footer {
	width: 100%;
	background-color: #000;
	padding-top: 30px;
	padding-bottom: 30px;
}


.landing__section__links {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	position: relative;
	max-width: 1140px;
	margin: 0 auto;
	@media screen and (min-width: $landscape-lg) {
		justify-content: space-between;
	}
}
.section__logo {
	display: block;
	width: 100%;
	max-width: 170px;
	margin-bottom: 20px;
	@media screen and (min-width: $landscape-lg) {
		margin-bottom: 0;
	}
	svg {
		width: 100%;
		height: 100%;
	}
}
.section__logo svg path,
.section__logo svg polygon {
	fill: #fff;
}

.section__phones {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-bottom: 20px;
	@media screen and (min-width: $landscape-sm) {
		max-width: 50%;
	}
	@media screen and (min-width: $landscape-lg) {
		max-width: 325px;
		margin-bottom: 0;
	}
	&__item {
		display: block;
		width: 100%;
		max-width: 150px;
		font-size: 18px;
		line-height: 24px;
		color: #fff;
	}
}

.section__social__links {
	width: 100%;
	max-width: 300px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 20px;
	@media screen and (min-width: $landscape-sm) {
		margin-bottom: 0;
	}
	&__item {
		display: block;
		width: 25px;
		height: 20px;
		text-decoration: none;
		svg path,
		svg polygon {
			transition: all 0.3s linear;
		}
		&.vk {
			&:hover {
				svg path,
				svg polygon {
					fill: #6182aa;
				}
			}
		}
		&.inst {
			&:hover {
				svg path,
				svg polygon {
					fill: #6182aa;
				}
			}
		}
		&.youtube,
		&.g-plus {
			&:hover {
				svg path,
				svg polygon {
					fill: #e62117;
				}
			}
		}
		&.facebook {
			&:hover {
				svg path,
				svg polygon {
					fill: #3b5998;
				}
			}
		}
		&.twitter {
			&:hover {
				svg path,
				svg polygon {
					fill: #1da1f2;
				}
			}
		}
		&.pinterest {
			&:hover {
				svg path,
				svg polygon {
					fill: #bd081c;
				}
			}
		}
		&.rss {
			&:hover {
				svg path,
				svg polygon {
					fill: #ff8c00;
				}
			}
		}
		svg {
			width: 100%;
			height: 100%;
			path,
			polygon {
				fill: #fff;
			}
		}
	}
}

.section__callback__btn {
	display: block;
	border: none;
	outline: none;
	border: 1px solid #b40831;
	border-radius: 25px;
	width: 100%;
	max-width: 225px;
	background-color: #de1545;
	color: #fff;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	transition: all 0.3s linear;
	cursor: pointer;
	&:hover {
		background-color: #b40831;
	}
}

.top__section {
	width: 100%;
	background-image: url(../img/top-section-bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 45px;
	overflow: hidden;
	@media screen and (min-width: $landscape-lg) {
		padding-top: 90px;
	}
}

.main__header {
	width: 100%;
	position: relative;
	max-width: 670px;
	margin: 0 auto;
	padding: 15px;
	color: #fff;
	text-align: center;
	font-size: 25px;
	line-height: 47px;
	text-transform: uppercase;
	z-index: 5;
	@media screen and (min-width: $landscape-sm) {
			font-size: 35px;
	}
	@media screen and (min-width: $landscape-lg) {
		padding: 45px;
		font-size: 49px;
		line-height: 61px;
		&::after {
			content: '';
			position: absolute;
			width: 789px;
			height: 201px;
			background-image: url(../img/main-header-bg.png);
			background-repeat: no-repeat;
			background-size: contain;
			top: 0;
			left: -110px;
			z-index: -2;
		}
	}
}

.top__section__text {
	width: 100%;
	max-width: 650px;
	margin: 0 auto;
	margin-bottom: 20px;
	@media screen and (min-width: $landscape-lg)  {
		padding-left: 50px;
	}
	p {
		width: 100%;
		font-size: 20px;
		line-height: 28px;
		color: #fff;
		margin-bottom: 40px;
		padding: 10px;
		&:nth-of-type(1),
		&:nth-of-type(3) {
			margin-bottom: 60px;
		}
	}
	.red-texted {
		position: relative;
		font-weight: bold;
		z-index: 5;
		&::before {
			content: '';
			position: absolute;
			width: 250px;
			height: 35px;
			background-color: #de1545;
			top: -5px;
    	left: -50px;
			z-index: -1;
		}
	}
}
.watch__portfolio__button {
	display: block;
	position: relative;
	width: 135px;
	margin: 0 auto;
	font-size: 20px;
	line-height: 24px;
	color: #fff;
	text-align: center;
	padding-bottom: 20px;
	z-index: 5;
	&::before {
		content: '';
		position: absolute;
		width: 15px;
		height: 15px;
		border-left: 2px solid #fff;
		border-bottom: 2px solid #fff;
		top: -40%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(-45deg);
	}
	&::after {
		content: '';
		position: absolute;
		width: 250px;
		height: 250px;
		background-color: #de1545;
		border-radius: 50%;
		top: -50px;
		left: 50%;
		transform: translateX(-50%);
		z-index: -1;
		@media screen and (min-width: $landscape-lg)  {
			width: 350px;
			height: 350px;
			top: -60px;
		}
	}
}
.examples__video__section {
	width: 100%;
	position: relative;
	padding: 30px 0;
	background-color: #fff;
}

.examples__video {
	width: 100%;
	position: relative;
	max-width: 1140px;
	margin: 0 auto;
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 30px 10px;
	@media screen and (min-width: $landscape-lg) {
		justify-content: space-between;
	}
}
.more__button {
	position: absolute;
	width: 75px;
	height: 75px;
	border: none;
	outline: none;
	background-color: #fff;
	border-radius: 50%;
	bottom: -30px;
	left: 50%;
	transform: translateX(-50%);
	cursor: pointer;
	&::before {
		content: '';
		position: absolute;
		width: 15px;
		height: 15px;
		border-left: 2px solid #828282;
		border-bottom: 2px solid #828282;
		top: 60%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(-45deg);
	}
}
.examples__video__item {
	display: block;
	position: relative;
	width: 358px;
	margin-bottom: 20px;
	overflow: hidden;
	&__link {
		display: block;
		width: 100%;
		position: relative;
		margin-bottom: 20px;
		overflow: hidden;
		&:hover {
			&::before {
				left: -75px;
			}
		}
		&::before {
			content: '';
			position: absolute;
			width: 213px;
			height: 213px;
			background-image: url(../img/example-link-bg.png);
			background-size: cover;
			background-position: center;
			top: -5px;
    	left: -115px;
    	transition: all 0.3s linear;
		}
		img {
			width: 100%;
		}
	}
	&__title {
		width: 100%;
		font-size: 18px;
		line-height: 24px;
		color: #333;
	}
}

.order__button {
	display: block;
	border: none;
	outline: none;
	border: 1px solid #de1545;
	border-radius: 25px;
	width: 100%;
	max-width: 225px;
	margin: 0 auto;
	margin-bottom: 60px;
	background-color: #de1545;
	color: #fff;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	transition: all 0.3s linear;
	cursor: pointer;
	&:hover {
		background-color: #fff;
		color: #de1545;
	}
}

.solve__problems {
	width: 100%;
	padding: 60px 0;
	background-color: #f2f2f2;
	h2 {
		width: 100%;
		max-width: 500px;
		margin: 0 auto;
		position: relative;
		padding: 0px 40px;
		margin-bottom: 60px;
		color: #333;
		font-size: 36px;
		line-height: 48px;
		text-align: center;
		font-weight: 300;
		text-transform: uppercase;
		@media screen and (min-width: $mobile-sm) {
				font-size: 22px;
				font-weight: bold;
		}
		@media screen and (min-width: $landscape-sm) {
			font-size: 36px;
			font-weight: 300;
			&::before,
			&::after {
			content: '';
			position: absolute;
			width: 122px;
			height: 82px;
			background-image: url(../img/problem-header-bg.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			top: 0;
			left: -100px;
		}
			&::after {
				left: auto;
				right: -100px;
				transform: scale(-1, 1);
			}
		}
		span {
			font-weight: bold;
			color: #de1545;
		}
	}
}
.solve__problems__list {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	flex-wrap: wrap;
	&__item {
		width: 220px;
		margin-bottom: 30px;
		@media screen and (min-width: $landscape-lg) {
			margin-bottom: 0;
		}
		&__image {
			width: 100%;
			max-width: 125px;
			height: 100px;
			margin: 0 auto;
			margin-bottom: 20px;
			img {
				width: 100%;
			}
		}
		&__title {
			width: 100%;
			font-size: 18px;
			line-height: 24px;
			text-align: center;
			color: #333;
		}
	}
}
.steps__block {
	width: 100%;
	position: relative;
	background-color: #1e3445;
	background-image: url(../img/steps-block-bg.png);
	background-repeat: no-repeat;
	@media screen and (min-width: $mobile-sm) {
		background-position: center top;
    background-size: 300%;
		padding-top: 40px;
	}
	@media screen and (min-width: $landscape-sm) {
		padding-top: 75px;
		background-position: center -30px;
    background-size: 200%;
	}
	@media screen and (min-width: $landscape-lg) {
		background-position: center -30px;
    background-size: 130%;
	}
	h2 {
		width: 100%;
		max-width: 430px;
		margin: 0 auto;
		margin-bottom: 75px;
		color: #2a3746;
		text-align: center;
		text-transform: uppercase;
		@media screen and (min-width: $mobile-sm) {
				font-size: 22px;
				font-weight: bold;
		}
		@media screen and (min-width: $landscape-sm) {
			font-size: 36px;
			font-weight: 300;
		}
		@media screen and (min-width: $desktop) {
			margin-bottom: 150px;
		}
		span {
			font-weight: bold;
		}
	}
}

.steps__list {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	@media screen and (min-width: $desktop) {
		flex-direction: column;
		height: 450px;
	}
	&__item {
		width: 100%;
		max-width: 450px;
		height: 90px;
		display: flex;
		align-items: center;
		position: relative;
		padding-left: 90px;
		font-size: 18px;
		line-height: 24px;
		color: #fff;
		margin-bottom: 30px;
		@media screen and (min-width: $desktop) {
			max-width: 425px;
		}
		&:nth-of-type(1) {
			&::before {
				background-image: url(../img/step1.png);
			}
		}
		&:nth-of-type(2) {
			&::before {
				width: 76px;
				height: 77px;
				background-image: url(../img/step2.png);
			}
		}
		&:nth-of-type(3) {
			&::before {
				width: 75px;
				height: 78px;
				background-image: url(../img/step3.png);
			}
		}
		&:nth-of-type(4) {
			&::before {
				width: 78px;
				height: 74px;
				background-image: url(../img/step4.png);
			}
		}
		&:nth-of-type(5) {
			&::before {
				width: 77px;
				height: 77px;
				background-image: url(../img/step5.png);
			}
		}
		&:nth-of-type(6) {
			&::before {
				width: 80px;
				height: 78px;
				background-image: url(../img/step6.png);
			}
		}
		&::before {
			content: '';
			position: absolute;
			width: 66px;
			height: 74px;
			background-position: center;
			background-size: cover;
			top: 50%;
			left: -20px;
			transform: translateY(-50%);
			@media screen and (min-width: $mobile-sm) {
				left: 5px;
			}
			@media screen and (min-width: $landscape-sm) {
				left: -20px;
			}
		}
	}
}
.steps__block {
	.more__button {
		background-color: #1e3445;
		z-index: 5;
		&::before {
			border-color: #fff;
		}
	}
}

.unique__videos__block {
	width: 100%;
	position: relative;
	padding-top: 60px;
	padding-bottom: 60px;
	background-image: url(../img/unique__videos-bg.jpg);
	background-position: center;
	background-size: cover;
	@media screen and (min-width: $landscape-lg) {
			&::before {
			content: '';
			position: absolute;
			width: 268px;
			height: 342px;
			background-image: url(../img/head.png);
			background-position: center;
			background-size: cover;
			top: -30px;
			left: 0;
			z-index: 1;
		}
	}
	&__text {
		width: 100%;
		max-width: 500px;
		margin: 0 auto;
		margin-bottom: 35px;
		color: #fff;
		font-size: 24px;
		line-height: 27px;
		text-align: center;
	}
	.order__button {
		margin-bottom: 0;
		background-color: #3e3e3e;
		color: #fff;
		border-color: #3e3e3e;
		&:hover {
			color: #3e3e3e;
			background-color: #fff;
		}
	}
}

.price__text__block {
	width: 100%;
	position: relative;
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #fff;
	z-index: 10;
	h2 {
		width: 100%;
		position: relative;
		max-width: 650px;
		margin: 0 auto;
		margin-bottom: 100px;
		color: #2a3746;
		text-align: center;
		text-transform: uppercase;
		@media screen and (min-width: $landscape-lg) {
			&::before {
				content: '';
				position: absolute;
				width: 176px;
				height: 148px;
				background-image: url(../img/price__header-bg.png);
				background-position: center;
				background-size: cover;
				top: -50px;
    		right: -200px;
			}
		}
		@media screen and (min-width: $mobile-sm) {
			font-size: 22px;
			line-height: 1.5em;
			font-weight: bold;
		}
		@media screen and (min-width: $landscape-sm) {
			font-size: 36px;
			font-weight: 300;
		}
		@media screen and (min-width: $desktop) {
			margin-bottom: 100px;
		}
		span {
			color: #de1545;
			font-weight: bold;
		}
	}
	.attention {
		display: block;
		width: 100%;
		max-width: 185px;
		font-size: 40px;
		line-height: 50px;
		color: #fff;
		font-weight: bold;
		padding: 5px 15px;
		background-color: #000;
		text-transform: uppercase;
		position: absolute;
		transform: rotate(-25deg);
		@media screen and (min-width: $mobile-sm) {
			max-width: 105px;
			font-size: 20px;
			line-height: 25px;
			top: 160px;
    	left: 75px;
		}
		@media screen and (min-width: $landscape-sm) {
			top: 140px;
    	left: 15px;
		}
		@media screen and (min-width: $landscape-lg) {
			max-width: 185px;
			font-size: 40px;
			line-height: 50px;
		}
		@media screen and (min-width: $desktop) {
			left: 10%;
    	top: 25%;
		}
		@media screen and (min-width: $desktop-hd) {
			left: 20%;
		}
	}
}
.price__text__block__content {
	width: 100%;
	max-width: 905px;
	margin: 0 auto;
	margin-bottom: 35px;
	color: #2a3746;
	font-size: 18px;
	line-height: 24px;
	padding: 5px 10px;
	&:last-of-type {
		margin-bottom: 0;
	}
}

.tarif__webka {
	width: 100%;
	padding: 40px 0px 30px 0;
	background-image: url(../img/tarif-web-bg.jpg);
	background-position: center;
	background-size: cover;
	h2 {
		width: 100%;
		max-width: 330px;
		margin: 0 auto;
		margin-bottom: 10px;
		font-size: 30px;
		line-height: 35px;
		text-align: center;
		color: #fff;
		font-weight: 300;
		text-transform: uppercase;
		span {
			font-weight: bold;
		}
	}
	p {
		width: 100%;
		max-width: 360px;
		margin: 0 auto;
		font-style: italic;
		font-size: 18px;
		line-height: 1.5em;
		color: #fff;
		text-align: center;
	}
}
.tarif__block__wrap {
	position: relative;
	&:nth-of-type(odd) {
		background-color: #f2f2f2;
	}
}
.tarifs__block {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	padding: 50px 15px;
	// background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	@media screen and (min-width: $landscape-lg) {
		justify-content: space-between;
	}
	&__name {
		width: 100%;
		position: relative;
		margin-bottom: 35px;
		font-size: 22px;
		color: #2a3746;
		line-height: 24px;
		padding-left: 90px;
		text-transform: uppercase;
		font-weight: bold;
		@media screen and (min-width: $mobile-sm) {
			font-size: 18px;
		}
		@media screen and (min-width: $landscape-sm) {
			font-size: 22px;
		}
		&::before {
			content: '';
			position: absolute;
			width: 75px;
			height: 75px;
			background-image: url(../img/tarif-name-bg.png);
			background-position: center;
			background-size: cover;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
		}
	}
}

.tarifs__block__content {
	width: 100%;
	@media screen and (min-width: $landscape-lg) {
		max-width: 45%;
	}

	p {
		font-size: 20px;
		line-height: 24px;
		color: #2a3746;
		margin: 0;
		margin-bottom: 20px;
	}
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	li {
		position: relative;
		font-size: 18px;
		line-height: 24px;
		color: #2a3746;
		font-weight: 300;
		padding-left: 50px;
		margin-bottom: 35px;
		&::before {
			content: '';
			position: absolute;
			width: 23px;
			height: 23px;
			background-image: url(../img/tarif-list-icon.png);
			background-position: center;
			background-size: cover;
			top: 0;
			left: 0;
		}
	}
}
.tarifs__block__video {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	flex-wrap: wrap;
	@media screen and (min-width: $landscape-lg) {
		max-width: 50%;
		justify-content: space-between;
	}
	p {
		width: 100%;
		position: relative;
		font-size: 18px;
		line-height: 24px;
		color: #2a3746;
		margin-bottom: 25px;
	}
	&__item {
		display: block;
    position: relative;
    width: 265px;
    margin-bottom: 20px;
    overflow: hidden;
	}
	&__link {
		display: block;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
    &:hover {
			&::before {
				left: -50px;
			}
		}
    &::before {
    	content: '';
	    position: absolute;
	    width: 157px;
	    height: 157px;
	    background-image: url(../img/example-link-bg.png);
	    background-size: cover;
	    background-position: center;
	    top: -5px;
	    left: -85px;
	    -webkit-transition: all .3s linear;
	    -o-transition: all .3s linear;
	    transition: all .3s linear;
    }
    img {
    	width: 100%;
    }
	}
	&__title {
		width: 100%;
    font-size: 18px;
    line-height: 24px;
    color: #333;
	}
}

.why__tarifs__costs {
	width: 100%;
	padding: 60px 10px;
	background-image: url(../img/why-cost-block-bg.jpg);
	background-position: center;
	background-size: cover;
	h2 {
		width: 100%;
		max-width: 675px;
		margin: 0 auto;
		margin-bottom: 40px;
		text-align: center;
		font-size: 24px;
		line-height: 36px;
		color: #2a3746;
		font-weight: 300;
		text-transform: uppercase;
		@media screen and (min-width: 768px) {
			font-size: 36px;
			line-height: 48px;
		}
		span {
			display: block;
			font-weight: bold;
			color: #de1545;
		}
	}
}
.why__tarifs__costs__text {
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	img {
		width: 100%;
		max-width: 154px;
		@media screen and (min-width: $mobile-sm) {
			margin-bottom: 40px;
		}
		@media screen and (min-width: $landscape-lg) {
			margin-bottom: 0px;
		}
	}
	p {
		width: 100%;
		max-width: 685px;
		padding: 22px;
		margin: 0;
		border: 2px dashed #de1545;
		border-radius: 7px;
		font-size: 18px;
		line-height: 24px;
		color: #2a3746;
		font-weight: 300;
	}
}

.about__our__company__block {
	width: 100%;
	position: relative;
	padding: 70px 10px;
	background-image: url(../img/about-company-bg.jpg);
	background-position: center;
	background-size: cover;
	.more__button {
		background-color: #7e0174;
		background-image: url(../img/dadagda.png);
		background-position: center;
		background-size: contain;
		&::before {
			border-color: #fff;
		}
	}
	h2 {
		width: 100%;
		max-width: 600px;
		margin: 0 auto;
		margin-bottom: 40px;
		text-align: center;
		font-size: 24px;
		line-height: 36px;
		color: #fff;
		font-weight: 300;
		text-transform: uppercase;
		@media screen and (min-width: 768px) {
			font-size: 36px;
			line-height: 48px;
		}
		span {
			font-weight: bold;
		}
	}
}
.about__our__company__content {
	width: 100%;
	position: relative;
	max-width: 950px;
	margin: 0 auto;
	margin-bottom: 20px;
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	flex-wrap: wrap;
	@media screen and (min-width: $landscape-lg) {
		justify-content: space-between;
	}
	p {
		width: 95%;
		font-size: 18px;
		line-height: 24px;
		color: #fff;
		font-weight: 300;
		margin-top: 0;
		margin-bottom: 50px;
	}
}

.employee__item {
	width: 100%;
	max-width: 190px;
	text-align: center;
	margin-bottom: 30px;
	@media screen and (min-width: $landscape-lg) {
		margin-right: 50px;
		&:nth-of-type(4n) {
			margin-right: 0;
		}
	}
	img {
		width: 100%;
		margin-bottom: 15px;
	}
	&__name {
		font-size: 20px;
		line-height: 24px;
		color: #fff;
		font-weight: 300;
		margin-bottom: 10px;
	}
	&__position {
		font-size: 18px;
		line-height: 24px;
		color: #fff;
		font-weight: 300;
	}
}

.bottom__request__form__wrap {
	width: 100%;
	padding: 50px 10px;
	background-image: url(../img/bottom-form-bg.jpg);
	background-position: center;
	background-size: cover;
	h2 {
		width: 100%;
		max-width: 700px;
		margin: 0 auto;
		margin-bottom: 40px;
		text-align: center;
		font-size: 24px;
		line-height: 36px;
		color: #fff;
		font-weight: 300;
		text-transform: uppercase;
		@media screen and (min-width: 768px) {
			font-size: 30px;
			line-height: 40px;
		}
		span {
			font-weight: bold;
		}
	}
	p {
		width: 100%;
		max-width: 600px;
		margin: 0 auto;
		font-size: 21px;
		line-height: 27px;
		color: #fff;
		text-align: center;
		font-weight: 300;
		margin-top: 0;
		margin-bottom: 30px;
	}
}

.bottom__request__form {
	display: block;
	width: 100%;
	max-width: 380px;
	margin: 0 auto;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-wrap: wrap;
	@media screen and (min-width: $landscape-sm) {
		justify-content: flex-start;
	}
	label {
		display: block;
		width: 100%;
		text-align: center;
		font-size: 18px;
		line-height: 27px;
		color: #fff;
		font-weight: 300;
		margin-bottom: 20px;
		@media screen and (min-width: $landscape-sm) {
			width: auto;
			margin-right: 5px;
		}
	}
	input {
		display: block;
		width: 100%;
		font-size: 18px;
		line-height: 18px;
		color: #fff;
		font-weight: 300;
		margin-bottom: 20px;
		border: none;
		outline: none;
		background-color: transparent;
		border-bottom: 1px solid #fff;
		&[type="number"] {
			max-width: 55px;
				-moz-appearance:textfield;
				&::-webkit-outer-spin-button,
				&::-webkit-inner-spin-button {
					-webkit-appearance: none;
		    	margin: 0;
				}
		}
		@media screen and (min-width: $landscape-sm) {
			width: 100%;
			&[type="text"] {
				max-width: 265px;
			}
			&[type="email"] {
				max-width: 305px;
			}
			&[type="tel"] {
				max-width: 235px;
			}
		}
	}
	span {
		font-size: 22px;
		color: #fff;
		line-height: 27px;
		margin-right: 7px;
		margin-left: 7px;
		font-weight: bold;
	}
	p {
		width: 100%;
		font-size: 12px;
		line-height: 16px;
		color: #fff;
		text-align: left;
		a {
			font-size: 12px;
			line-height: 16px;
			color: #fff;
			border-bottom: 1px solid #fff;
		}
	}
}
.bottom__request__form__button {
	display: block;
  border: none;
  outline: 0;
  border: 1px solid #3e3e3e;
  border-radius: 25px;
  width: 100%;
  max-width: 225px;
  margin: 0 auto;
  background-color: #3e3e3e;
  color: #fff;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  cursor: pointer;
  &:hover {
  	background-color: #fff;
  	color: #3e3e3e;
  }
}
.overlay {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0,0,0, 0.3);
	top: 0;
	left: 0;
	cursor: pointer;
	z-index: 15;
}
.pop__up__form {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	max-width: 505px;
	padding: 15px 35px;
	background-color: #de1545;
	z-index: 25;
	@media screen and (min-width: $mobile-sm) {
		overflow-y: auto;
		height: 100%;
	}
	@media screen and (min-width: $landscape-sm) {
		padding: 35px 60px;
		overflow: hidden;
		height: auto;
	}
}
.pop__up__close {
	width: 16px;
	height: 16px;
	position: absolute;
	top: 10px;
	right: 15px;
	cursor: pointer;
	&::before,
	&::after {
		content: '';
		position: absolute;
		width: 3px;
		height: 15px;
		background-color: #fff;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%) rotate(-45deg);
	}
	&::after {
		transform: translate(-50%, -50%) rotate(45deg);
	}
}
.pop__up__title {
		width: 100%;
		max-width: 370px;
		margin: 0 auto;
		margin-bottom: 40px;
		text-align: center;
		font-size: 24px;
		line-height: 36px;
		color: #fff;
		font-weight: 300;
		text-transform: uppercase;
		@media screen and (min-width: 768px) {
			font-size: 30px;
			line-height: 40px;
		}
		span {
			font-weight: bold;
		}
}
.pop__up__request {
	display: block;
	width: 100%;
	max-width: 380px;
	margin: 0 auto;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-wrap: wrap;
	@media screen and (min-width: $landscape-sm) {
		justify-content: flex-start;
	}
	label {
		display: block;
		width: 100%;
		text-align: center;
		font-size: 18px;
		line-height: 27px;
		color: #fff;
		font-weight: 300;
		margin-bottom: 20px;
		@media screen and (min-width: $landscape-sm) {
			width: auto;
			margin-right: 5px;
		}
	}
	input {
		display: block;
		width: 100%;
		font-size: 18px;
		line-height: 18px;
		color: #fff;
		font-weight: 300;
		margin-bottom: 20px;
		border: none;
		outline: none;
		background-color: transparent;
		border-bottom: 1px solid #fff;
		&[type="number"] {
			max-width: 55px;
				-moz-appearance:textfield;
				&::-webkit-outer-spin-button,
				&::-webkit-inner-spin-button {
					-webkit-appearance: none;
		    	margin: 0;
				}
		}
		@media screen and (min-width: $landscape-sm) {
			width: 100%;
			&[type="text"] {
				max-width: 265px;
			}
			&[type="email"] {
				max-width: 305px;
			}
			&[type="tel"] {
				max-width: 235px;
			}
		}
	}
	span {
		font-size: 22px;
		color: #fff;
		line-height: 27px;
		margin-right: 7px;
		margin-left: 7px;
		font-weight: bold;
	}
	p {
		width: 100%;
		font-size: 12px;
		line-height: 16px;
		color: #fff;
		text-align: left;
		margin-bottom: 20px;
		a {
			font-size: 12px;
			line-height: 16px;
			color: #fff;
			border-bottom: 1px solid #fff;
		}
	}
}
.popup__request__form__button {
	display: block;
  border: none;
  outline: 0;
  border: 1px solid #3e3e3e;
  border-radius: 25px;
  width: 100%;
  max-width: 225px;
  margin: 0 auto;
  background-color: #3e3e3e;
  color: #fff;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  cursor: pointer;
  &:hover {
  	background-color: #fff;
  	color: #3e3e3e;
  }
}